@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --default-font-family: "Manrope", sans-serif;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 6px 12px;
}
