@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --default-font-family: "Funnel Sans", sans-serif;
}
