@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --default-font-family: "Manrope", sans-serif;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 6px 12px;
}

@keyframes slide-in {
  from {
    right: -600px;
  }
  to {
    right: 0;
  }
}

.side-bar-animate {
  animation: slide-in 0.2s ease-out forwards;
  white-space: nowrap;
  overflow: hidden;
}
