@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-tint-1: #fbeaef;
  --color-primary-tint-2: #ed95b0;
  --color-primary: #db2b61;
  --color-primary-shade-1: #6e1631;

  --color-black-1: var(--color-zinc-900);
  --color-black-2: var(--color-zinc-700);
  --color-black-3: var(--color-zinc-500);

  --color-white-1: var(--color-zinc-50);
  --color-white-2: var(--color-zinc-100);
  --color-white-3: var(--color-zinc-200);

  --default-font-family: "Quicksand", sans-serif;
}
