@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Fredoka", sans-serif;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 6px 12px;
}

@keyframes slide-in {
  from {
    right: -600px;
  }
  to {
    right: 0;
  }
}

.side-bar-animate {
  animation: slide-in 0.2s ease-out forwards;
  white-space: nowrap;
  overflow: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  transform: rotate(45deg);
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #db2a60;
  -webkit-mask: radial-gradient(circle 10px at 50% 50%, #0000 94%, #000);
}
.loader:after {
  animation: l6 1s infinite;
  transform: perspective(300px) translateZ(0px);
}
@keyframes l6 {
  to {
    transform: perspective(300px) translateZ(150px);
    opacity: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
